<md-content layout-padding flex md-colors="::{'background-color': 'background-200'}" style="padding:16px;">
	<div class="md-whiteframe-2dp dap-nopadding">

		<!-- Header -->
		<md-toolbar class="md-accent md-hue-3">
			<div class="md-toolbar-tools">
				<md-button aria-label="More" ng-click="$ctrl.navigate('MyViz')" class="md-icon-button">
					<md-icon class="material-icons">arrow_back</md-icon>
				</md-button>
				<h2>{{$ctrl.selectedItem.name}}</h2>
				<span flex></span>
				<md-menu md-position-mode="target-right target">
					<md-button aria-label="actions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
						<md-icon class="material-icons">more_vert</md-icon>
					</md-button>
					<md-menu-content width="3">
						<md-menu-item ng-if="$ctrl.canEdit">
							<md-button ng-click="$ctrl.share($event)">
								<md-icon class="material-icons">group_add</md-icon>Share
							</md-button>
						</md-menu-item>
						<md-menu-item ng-if="$ctrl.canEdit">
							<md-button ng-click="$ctrl.edit($event)">
								<md-icon class="material-icons">edit</md-icon>Edit
							</md-button>
						</md-menu-item>
						<md-menu-item ng-if="$ctrl.canEdit">
							<md-button ng-click="$ctrl.remove($event)">
								<md-icon class="material-icons">delete</md-icon>Delete
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>

		<!-- Description -->
		<div ng-if="!$ctrl.selectedItem.showColor" layout="row" md-colors="::{'background-color': 'background-300'}">
			<div flex layout-padding>
				<div layout="row">
					<div flex class="dap-vertalign">
						{{$ctrl.selectedItem.description}}
					</div>
					<div class="dap-vertalign" ng-if="$ctrl.canEdit">
						<span ng-if="$ctrl.selectedItem.tags" ng-repeat="tag in $ctrl.selectedItem.tags.split(',')" style="margin-right:6px;white-space:nowrap;">
                            <md-icon class="material-icons ng-scope md-accent md-hue-3" style="font-size: 1.2em;height:20px;min-height:20px;width:20px;min-width:20px;">local_offer</md-icon>
                            {{::tag}}
                        </span>
					</div>
				</div>
			</div>
			<div layout-padding class="dap-vertalign">
				<md-switch class="md-primary md-hue-2 dap-nomargin" md-no-ink aria-label="Show Notes" ng-model="$ctrl.showNotes" style="padding:3px;">
					Show Notes
				</md-switch>
			</div>
		</div>

		<!-- Content -->
		<div layout="column" layout-gt-xs="row">
			<md-content flex="75" layout-padding style="background:white;">
				<iframe ng-if="$ctrl.selectedItem && $ctrl.selectedItem.iframeUrl" flex id="tableau_content" src="{{$ctrl.selectedItem.iframeUrl}}"
					style="border: none;padding:0;" width="100%" height="800px"></iframe>

				<!-- Loader -->
				<dap-list-loading flex list="$ctrl.selectedItem.iframeUrl"></dap-list-loading>
			</md-content>
			<dap-viz-notes flex="25" ng-if="$ctrl.showNotes" visual-id="$ctrl.selectedItem.id" primary-color="$ctrl.selectedItem.customPrimaryColor"
				accent-color="$ctrl.selectedItem.customAccentColor"></dap-viz-notes>
		</div>

	</div>
</md-content>