<md-dialog flex="50">

	<!-- Header -->
	<md-toolbar class="md-accent md-hue-3">
		<div class="md-toolbar-tools">
			<h2>Feedback</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="close()">
				<md-icon class="material-icons">clear</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<!-- Content -->
	<md-dialog-content>
		<div class="md-dialog-content" layout="column">
			<md-input-container class="md-block md-accent md-hue-3" flex-gt-sm>
				<label>Message</label>
				<textarea ng-model="message" rows="4" style="overflow: inherit;max-height: 200px!important;" required md-maxlength="300"></textarea>
			</md-input-container>
		</div>
	</md-dialog-content>

	<!-- Actions -->
	<md-dialog-actions layout="row">
		<md-button class="md-raised" ng-click="close()">Cancel</md-button>
		<md-button class="md-raised md-accent md-hue-3" ng-click="send(message)" ng-disabled="!message">Send</md-button>
	</md-dialog-actions>
</md-dialog>