<footer class="dap-footer">
	<div flex layout="row">
		<div>
			<md-button target="_blank" href="#/terms">Terms &amp; Conditions</md-button>
			<md-button target="_blank" href="#/privacy_policy">Privacy Policy</md-button>
		</div>
		<!--<div flex></div>
        <div>
            <md-button target="_blank" href="https://www.facebook.com/GroupMWorldwide/">Facebook</md-button>
            <md-button target="_blank" href="https://twitter.com/GroupMWorldwide">Twitter</md-button>
            <md-button target="_blank" href="https://www.linkedin.com/company/groupm">LinkedIn</md-button>
            <md-button target="_blank" href="https://www.youtube.com/user/groupmfacebook">Youtube</md-button>            
        </div>-->
	</div>
	<div class="md-caption">
		© 2016 <a target="_blank" href="http://www.groupm.com">GroupM</a> All rights Reserved. WPP - Leaders in Advertising, Marketing
		&amp; Media
	</div>
</footer>