<div class="dap-splash-container">

	<!-- Header -->
	<section md-colors="::{'background-color': 'background-900'}" class="dap-splash-header" flex>
		<div style="max-width:1000px;margin:auto;">
			<p class="md-display-2" style="text-align: center;">Welcome to the <img src="content/images/logo_white.png" style="vertical-align: middle;height: 45px;"> App Portal</p>
			<p class="md-subhead">
				The App Portal is the central hub and one stop shop for all GroupM Data and Analytics applications, Data Visualization Library,
				and Document Library. The App Portal provides an easy and intuitive way to navigate between all DAP apps, deliver visualizations
				amongst teams and clients, and much more. Please login to get started!
			</p>
			<div layout flex>
				<span flex></span>
				<md-button href="/auth/login" class="md-raised md-accent md-hue-3">Login</md-button>
			</div>
		</div>
	</section>

	<!-- Features -->
	<section md-colors="::{'background-color': 'background-300'}" class="dap-splash-section" flex layout-align="center">
		<div>
			<p class="md-display-1">App Portal enables data management, big data analytics, data visualization delivery, and more</p>
			<div flex layout="column" layout-gt-sm="row">
				<div flex="33" layout>
					<div class="dap-icon dap-icon-customize dap-icon-border"></div>
					<div flex class="md-headline dap-center">Analytics Workbench</div>
				</div>
				<div flex="33" layout>
					<div class="dap-icon dap-icon-reporting dap-icon-border"></div>
					<div flex class="md-headline dap-center">Data Vault</div>
				</div>
				<div flex="33" layout>
					<div class="dap-icon dap-icon-dashboarding dap-icon-border"></div>
					<div flex class="md-headline dap-center">ROI Benchmarking</div>
				</div>
			</div>
			<div flex layout="column" layout-gt-sm="row">
				<div flex="33" layout>
					<div class="dap-icon dap-icon-optimization dap-icon-border"></div>
					<div flex class="md-headline dap-center">Cross Client Reporting</div>
				</div>
				<div flex="33" layout>
					<div class="dap-icon dap-icon-modeling dap-icon-border"></div>
					<div flex class="md-headline dap-center">Live Attribution</div>
				</div>
				<div flex="33" layout>
					<div class="dap-icon dap-icon-security dap-icon-border"></div>
					<div flex class="md-headline dap-center">Document Library</div>
				</div>
			</div>
			<div flex layout="column" layout-gt-sm="row">
				<div flex="33" layout>
					<div class="dap-icon dap-icon-acquisition dap-icon-border"></div>
					<div flex class="md-headline dap-center">Datamart</div>
				</div>
				<div flex="33" layout>
					<div class="dap-icon dap-icon-optimization dap-icon-border"></div>
					<div flex class="md-headline dap-center">Live Intelligence</div>
				</div>
				<div flex="33" layout>
					<div class="dap-icon dap-icon-dashboarding dap-icon-border"></div>
					<div flex class="md-headline dap-center">Visualization Library</div>
				</div>
			</div>
			<div flex layout="column" layout-gt-sm="row">
				<div flex="33" layout>
					<div class="dap-icon dap-icon-analysis dap-icon-border"></div>
					<div flex class="md-headline dap-center">Data Marketplace</div>
				</div>
				<div flex="33" layout>
					<div class="dap-icon dap-icon-optimization dap-icon-border"></div>
					<div flex class="md-headline dap-center">Real Time Optimization</div>
				</div>
				<div flex="33" layout>

				</div>
			</div>
		</div>
	</section>

	<!-- Agencies -->
	<section md-colors="::{'background-color': 'primary-800'}" class="dap-dotted-bg dap-splash-section" flex layout-align="center">
		<div>
			<p class="md-display-1">Our Agencies</p>
			<div flex layout="column" layout-gt-sm="row">
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-gain-theory"></div>
					<div flex class="md-headline dap-center">Gain Theory</div>
				</div>
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-maxus"></div>
					<div flex class="md-headline dap-center">Maxus</div>
				</div>
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-metavision"></div>
					<div flex class="md-headline dap-center">Metavision Media</div>
				</div>
			</div>
			<div flex layout="column" layout-gt-sm="row">
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-groupm"></div>
					<div flex class="md-headline dap-center">GroupM</div>
				</div>
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-mec"></div>
					<div flex class="md-headline dap-center">MEC</div>
				</div>
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-mindshare"></div>
					<div flex class="md-headline dap-center">Mindshare</div>
				</div>
			</div>
			<div flex layout="column" layout-gt-sm="row">
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-groupm-connect"></div>
					<div flex class="md-headline dap-center">GroupM Connect</div>
				</div>
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-mediacom"></div>
					<div flex class="md-headline dap-center">Mediacom</div>
				</div>
				<div flex="33" layout>
					<div class="dap-agency-sm dap-agency-sm-xaxis"></div>
					<div flex class="md-headline dap-center">Xaxis</div>
				</div>
			</div>
		</div>
	</section>
</div>